.herohead {
    background-image: url(/src/assets/img/backgrounds/header.jpg);
    opacity: 1;
}
.loginbtnhed {
    display: none;
}

.imgebox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgebox .imageres {
    width: 70px;
    height: 70px;
}
.imgebox.work-icon img {
    width: 50px;
    height: auto;
    margin: 0 auto;
    padding-top: 0px;
}
@media (max-width: 767px) {
    .loginbtnhed {
        display: inline-block;
        float: right;
    }
}